<div class="container">
  <div class="row">
    <div class="col-md-3"><!--EMPTY DIV--></div>
    <div class="col-md-6">

      <h3 class="bg-primary text-white p-4">
        {{this.getName()}} Todo Application
      </h3>

      <div class="input-group">
        <input type="text" #TodoText class="form-control">
        <div class="input-group-append">
          <button class="btn btn-success mr-1" (click)="AddItems(TodoText.value); TodoText.value=''">Add</button>
        </div>
      </div>

      <div class="custom-control custom-checkbox my-3">
        <input type="checkbox" class="custom-control-input" [(ngModel)]="isDisplay" name="" id="displayAll">
        <label class="custom-control-label" for="displayAll">Display All</label>
      </div>

      <table class="table table-striped">
        <thead>
        <tr>
          <th width="10%">No</th>
          <th width="50%">Description</th>
          <th width="10%">*</th>
          <th width="30%">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of this.getItems(); let i = index">
          <td>{{i}}</td>
          <td>{{item.description}}</td>
          <td>
            <input type="checkbox" [(ngModel)]="item.status">
          </td>
          <td [ngSwitch]="item.status">
            <p class="text-success" *ngSwitchCase="true">Completed</p>
            <p class="text-danger" *ngSwitchCase="false">Pending</p>
            <p class="text-warning" *ngSwitchDefault>indefinite</p>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="col-md-3"><!--EMPTY DIV--></div>
  </div>
</div>
